.display{
    grid-column: 1 / -1;
    background-color: #464647;
    border-radius: 6px;
    border: 1px solid var(--Stroke, #464647);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 44px;
    }
